:root{
  --elem-width: 100px;
  --elem-height:100px;
  --tooltip-before-color:black
}
body, ul {
    margin:0;
    padding:0;
}
.lorem {
    margin:0 auto;
    width:80%;
    background-color:grey;
    font-size: 24px;
}
.tooltipped{
    display:inline-block;
    box-sizing:border-box;
    padding:0;
    margin:0;
    border:1px solid red;
    width:var(--elem-width);
    height:var(--elem-width)
}

.tooltip {
    box-sizing:border-box;
    width:200px;
    height:auto;
    position:absolute;
    background-color:black;
    color:white;
    padding:5px;
    z-index:5;
    border-radius:4px;
    font-size: 16px;
    margin:0
}
.tooltip.animSlideInUp{
  animation-name: slideInUp;
  animation-duration:2s;
}
.tooltip.animSlideInDown{
  animation-name: slideInDown;
  animation-duration:2s;
}
.tooltip.animSlideInLeft{
  animation-name: slideInLeft;
  animation-duration:2s;
}
.tooltip.animSlideInRight{
  animation-name: slideInRight;
  animation-duration:2s;
}
.tooltip.animFadeIn{
  animation-name: fadeIn;
  animation-duration:2s;
}

.tooltip:before {
    content : "";
    width: 0;
    height: 0;
    position:absolute;
  }
 
  .tooltip.top:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid var(--tooltip-before-color);
    bottom:-5px;
    left:calc(var(--elem-width)/2);
    
  }
  .tooltip.bottom:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid var(--tooltip-before-color);
    top:-5px;
    left:calc(var(--elem-width)/2);
  }
  .tooltip.left:before {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--tooltip-before-color);
    top:calc(var(--elem-height)/2);
    right:-5px;
  }
  .tooltip.right:before {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid var(--tooltip-before-color);
    top:calc(var(--elem-height)/2);
    left:-5px;
  }

  @keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }